.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    justify-content: center;
    background-image: url("../public/Home Cards/about.jpg");
    color: white;
    font-size: 40px;
    font-weight: 900;
}
.quote{
    font-size: 18px;
    text-align: center;
    font-style: italic;
    font-weight: 100;
    margin-top: 20px;
    width: 70%;
}

/* Educational Background Section */
.edu{
    display: flex;
    flex-direction: column;
    height: 35rem;
    width: 100%;
    align-items: center;
    margin-bottom: 50px;
}
.eduHead{
    margin:20px;
    text-align: center;
    font-size: 30px;
}
.eduCard{
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    height: 230px;
    width: 75%;
    box-shadow: 0px 5px 10px rgb(94, 94, 94);
    margin-bottom: 20px;
}
.eduInfo{
    width: 70%;
    margin:15px;
}
.eduCardHead{
    color:rgb(248, 132, 0);
    font-size: 20px;
}
.eduCardName{
    color:rgb(107, 107, 107);
    font-size: 15px;
}
.eduCardDesc{
    margin-top: 10px;
    font-size: 12px;
}
.eduImg{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.eduLogo{
    width: auto;
    height: 80%;
    margin: 20px;
}

/* Extra Curricular Section */
.extra{
    display: flex;
    flex-direction: column;
    height: max-content;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.extraContainer{
    height:max-content;
    width: 95%;
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
}
.extraCard{
    display: flex;
    flex-direction: column;
    width: 29%;
    height: 28rem;
    margin: 30px;
    border-radius: 30px;
    box-shadow: 0px 5px 10px rgb(94, 94, 94);
}
.extraHead{
    margin: 20px;
}
.extraDesc{
    margin: 20px;
    margin-top: -10px;
}
.extraImg{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.extraImger{
    width: 100%;
    height: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

/* My Skills Section */
.skills{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    margin-bottom: 50px;
}
.skillContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    flex-wrap: wrap;
    /* background-color: aqua; */
    align-items: center;
}
.skillBasket{
    height: max-content;
    width: 80%;
    /* background-color: aquamarine; */
    margin: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.skillCategory{
    font-size: 18px;
    font-weight: 500;
    width: max-content;
    text-align: center;
    background-color: green;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.skillSet{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: max-content;
    border-radius: 15px;
    border: 3px solid green;
    border-top-left-radius: 0px;
    /* justify-content: center; */
}
.skillCard{
    /* background-color: blue; */
    /* width: 25%; */
    height: 5rem;
    display: flex;
    flex-direction: row;
    margin: 20px;
    border-radius: 500px;
    border: 3px solid green;
}
.skillImg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    background-color: green;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.skillImager{
    height: 70%;
    width: auto;
    padding: 5px;
    filter: grayscale(100%) brightness(1000);
}
.skillInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin-right: 10px;
    width: max-content;
}
.skillName{
    font-size: 20px;
    font-weight: 500;
    margin-left: 7px;
}
.skillLevel{
    font-size: 14px;
    padding: 5px;
    background-color: green;
    color: white;
    width: max-content;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 40px;
}
.add{
    display: flex;
    flex-direction: column;
    height: max-content;
    align-items: center;
    width: 100%;
}
.addContainer{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: max-content;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    /* background-color: red; */
}
.addSubContainer{
    display: flex;
    flex-direction: column;
    width: 28%;
    height: max-content;
    align-items: center;
    margin: 30px;
    border-radius: 50px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    box-shadow: 0px 5px 10px rgb(94, 94, 94);
}
.addHead{
    height: 10.5rem;
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: #990000;
    color: white;
    font-size: 25px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.addContent{
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    /* background-color: aquamarine; */
}
.addCard{
    display: flex;
    flex-direction: row;
    height: 5rem;
    width: 60%;
    border-radius: 30px;
    margin: 15px;
    /* background-color: aqua; */
}
.addImg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 35%;
    background-color: #990000;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.addInfo{
    display: flex;
    flex-direction: row;
    width: max-content;
    align-items: center;
    justify-content: center;

}
.addImager{
    height: 70%;
    width: auto;
    padding: 5px;
    filter: grayscale(100%) brightness(1000);
}
.addName{
    font-size: 20px;
    margin-left: 10px;
}