.footer{
    height: 8rem;
    /* background-color: aqua; */
    display: flex;
    font-size: 1.6rem;
    flex-direction: row;
    align-items: center;
}
.logo{
    width: 5rem;
    height: 5rem;
    border-radius: 10rem;
    /* margin: 20px; */
}
.namer{
    margin: 1rem;
    font-family:"Poppins";
    font-weight: bolder;
    color: rgb(250, 108, 13);
    font-size: 1.8rem;
}
.profile{
    margin-left: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    float: left;
}
.footerDivider{
    background-color: rgb(87, 87, 87);
    border: 0.1rem rgb(205, 205, 205) solid;
    height: 60%;
    margin-left: 1rem;
}
.copyright{
    margin-left: 1.5rem;
}