.channel {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30rem;
    justify-content: center;
    color: white;
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 5rem;
    margin-top: 8rem;
    z-index: 1;
    position: relative;
}
.channel::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: 0rem 0rem;
    background-image: url("../public/Home_Cards/learn.jpg");
    background-position: center;
    background-size: cover;
    filter: blur(2px);
    z-index: -1;
}
.quote {
    font-size: 1.8rem;
    text-align: center;
    font-style: italic;
    font-weight: 100;
    margin-top: 2rem;
    width: 70%;
}

.coursesSection {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    flex-wrap: wrap;
    width: 100%;
    /* font-size: 20px; */
    margin-bottom: 5rem;
}

.coursesHead {
    font-size: 3rem;
    margin: 2rem;
}

.coursesExpo {
    display: flex;
    flex-direction: row;
    height: max-content;
    width: 100%;
    /* align-items: center; */
    flex-wrap: wrap;
    justify-content: center;
    /* width: 100%; */

}

.card {
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: max-content;
    justify-content: center;
    align-items: center;
    border-radius: var(--card-radius);
    margin: 3rem;
    box-shadow: var(--soft-shadow);
    cursor: pointer;
    transition: all 0.8s ease-out;
}
.title{
    transition: all 0.15s ease-out;
}
.card:hover .title{
    color: var(--primary-color);
}
.imgContainer {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: var(--card-radius);
    border-top-right-radius: var(--card-radius);
}

.img {
    height: 100%;
    width: 100%;
    border-top-left-radius: var(--card-radius);
    border-top-right-radius: var(--card-radius);
}
.info{
    display: flex;
    flex-direction: column;
    height: max-content;
    /* width: 100%; */
}
.title{
    margin-bottom: 1rem;
}
.content{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    margin-bottom: 1rem;
    /* width: 100%; */
    height: max-content;
    /* justify-content: center; */
}
.description{
    height: max-content;
}

.skillHead{
    display: flex;
    flex-direction: column;
    height: 25%;
    width: 100%;
    font-weight: 500;
    justify-content: center;
}
.skillSet{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    /* margin-top: -10px; */
    /* width: 100%; */
    height: 13rem;
    margin-bottom: -1rem;
    justify-content: center;
}
.skillsBox{
    display: flex;
    flex-direction: row;
    height: 75%;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    align-items: center;
}
.skill{
    height: 60%;
    width: auto;
    margin-right: 1.5rem;
}
.btn{
    display: flex;
    flex-direction: column;
    height: 9.5rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.goBtn{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 50%;
    font-weight: 500;
    font-size: 1.8rem;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #990000;
    border: 0.3rem solid #990000;
    border-radius: var(--card-radius);
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}
.goBtn:hover{
    background-color: #990000;
    color: white;
    border: 0.3rem solid #990000;
    border-radius: var(--card-radius);
}
.goLecBtn{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 50%;
    font-weight: 500;
    font-size: 1.8rem;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: var(--primary-color);
    border: 0.3rem solid var(--primary-color);
    border-radius: var(--card-radius);
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}
.goLecBtn:hover{
    background-color: var(--primary-color);
    color: white;
    border: 0.3rem solid var(--primary-color);
    border-radius: var(--card-radius);
}

@media (max-width: 900px) {
    .quote{
        font-size: 1.5rem;
    }
}